@font-face {
  font-family: "brushstrikeregular";
  src: url("../../assets/font/brushstrike-webfont.woff2") format("woff2"),
    url("../../assets/font/brushstrike-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
