.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr;
  height: 100%;
  header {
    grid-area: header;
    padding: 1rem 3vw;
  }
  main {
    grid-area: main;
    padding: 1rem 3vw;
    margin-top: 1rem;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  &.center {
    justify-content: center;
  }
}
