header {
  padding: 1rem 3vw;
}
main {
  padding: 1rem 3vw;
}
section {
  h1 {
    margin-top: 0;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  &.center {
    justify-content: center;
  }
}
.custom-font {
  font-family: $font;
  font-weight: bold;
}
/*Remove later*/
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include sm {
    max-width: 540px;
  }
  @include md {
    max-width: 960px;
  }
  @include lg {
    max-width: 1140px;
  }
}
.row-bootstrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-md-1,
.col-md-2,
.col-md-5,
.col-md-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-md-1 {
  @include md {
    flex: 0 0 auto;
    width: 9%;
  }
  @include lg {
    width: 14%;
  }
}
.col-md-2 {
  @include md {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
}
.col-md-5 {
  @include md {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
}
.col-md-6 {
  @include md {
    flex: 0 0 auto;
    width: 55.6666666667%;
  }
}
.d-block {
  display: block !important;
}
.w-100 {
  width: 100% !important;
}
