@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
@mixin sm-height {
  @media (min-height: #{$screen-sm-min-height}) {
    @content;
  }
}
@mixin reduced-motion {
  @media (prefers-reduced-motion: reduce) {
    @content;
  }
}
@mixin lg-max {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}
@mixin nav-options {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .active {
      color: $primaryColor;
      fill: $primaryColor;
    }
  }
}
@mixin spin {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
