@import "./sass/variables";
@import "./sass/fonts";
@import "./sass/breakpoints";
@import "./sass/mixins";
@import "./sass/navbar";

* {
  box-sizing: border-box;
}
html,
body,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/brand/background_none.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
