.about {
  margin-bottom: 20vh;
  @include lg {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0;
  }
  .about-container {
    min-height: 75vh;
  }
  .text {
    .title {
      font-family: $font;
      font-weight: bold;
      line-height: 1;
      font-size: $extraLargeMobile;
      @include md {
        font-size: $extraLargeDesktop;
      }
    }
    p {
      font-size: 0.95rem;
    }
    @include md {
      width: 48%;
    }
  }
  .video {
    margin-top: 10px;
    @include md {
      margin-top: 0;
      width: 48%;
    }
  }
  .contacts {
    text-align: center;
    .line {
      width: 100%;
      height: 3px;
      background-color: black;
      position: inherit;
      bottom: 0;
      margin-top: 20px;
      @include md {
        margin-top: 0px;
      }
    }
    .logos-container {
      margin-top: 20px;
      @include md {
        margin-top: 30px;
      }
      svg {
        cursor: pointer;
        width: 30px;
        transition: 0.2s;
        margin-left: 10px;
        margin-right: 10px;
        &:hover {
          fill: $secondaryColor;
          transition: 0.2s;
        }
      }
    }
  }
}
