.about {
  @include md {
    margin-top: 2vh;
  }
  .title {
    font-family: $font;
    font-weight: bold;
    line-height: 1;
    font-size: $extraLargeMobile;
    @include md {
      font-size: $extraLargeDesktop;
    }
  }
  .video {
    position: relative;
    .poster {
      position: absolute;
      top: 0;
      left: 0;
      img {
        display: block;
        width: 100%;
        display: none;
      }
    }
    video {
      width: 100%;
      display: block;
      opacity: 0;
    }
    .play {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 10px;
      margin-left: 10px;
      opacity: 0;
      svg {
        width: 50px;
      }
    }
    margin-top: 20px;
    @include sm {
      margin-top: 0;
    }
    @include md {
      width: 51vw;
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -50%);
    }
    @include xl {
      width: 600px;
    }
  }
  .show {
    @include fade-in;
  }
  .hide {
    @include fade-out;
  }
}
