.gallery {
  @include lg {
    margin-left: 10%;
    margin-right: 10%;
  }
  .filters {
    padding: 8px;
    text-align: center;
    .filter {
      text-transform: uppercase;
      display: inline-block;
      margin: 5px;
      font-family: $font;
      font-weight: bold;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        color: $primaryColor;
      }
    }
  }
  .gallery-images {
    column-gap: 15px;
    column-count: 1;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    @include md {
      column-count: 3;
    }
    @include lg {
      column-count: 4;
    }
  }
  .hide {
    @include fade-out;
  }
  .show {
    @include fade-in;
  }
}
