@use '../general/globals' as *;

.order {
  @include lg {
    @include margin-center;
  }
  .order-container {
    padding-top: 90px;
    min-height: 90vh;
    @include md {
      padding-top: 150px;
    }
    .order-inner {
      width: 100%;
    }
  }
  .stripe-payment {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .card {
    h3 {
      margin: 0 0 0.4rem 0;
    }
    p {
      margin: 0.15rem 0;
      font-weight: normal;
    }
    .item-name > p:first-child {
      font-weight: bold;
    }
    .cart-items {
      li {
        overflow: hidden;
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
        .item-content {
          min-height: unset;
        }
      }
    }
  }
}
