.place-order {
  @include lg {
    @include margin-center;
  }
  .place-order-container {
    padding-top: 130px;
    min-height: 90vh;
    @include md {
      padding-top: 150px;
    }
    .place-order-inner {
      width: 100%;
    }
  }
}
