.product-screen {
  .product-images {
    line-height: 0;
    width: 306px;
    @include sm {
      width: 505px;
    }
    img {
      display: block;
      &.large {
        width: 300px;
        @include sm {
          width: 500px;
        }
      }
      &.small {
        width: 96.8px;
        display: inline-block;
        cursor: pointer;
        margin-top: 5px;
        margin-right: 5px;
        @include sm {
          width: 96px;
        }
      }
    }
  }
  .product-details {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        &:first-child {
          font-size: $large;
          font-weight: bold;
        }
      }
    }
  }
}
