.product-screen {
  min-height: 70vh;
  @include md {
    margin-top: 2vh;
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @include sm {
      max-width: 540px;
    }
    @include md {
      max-width: 960px;
    }
    @include lg {
      max-width: 1140px;
    }
  }
  .row-bootstrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-md-1,
  .col-md-2,
  .col-md-5 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .image-preview {
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    width: calc(33.332% - 3.322px);
    @include lg-max {
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    @include lg {
      width: calc(25% - 3.74px);
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
  .d-block {
    display: block !important;
  }
  .w-100 {
    width: 100% !important;
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row-bootstrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-md-1 {
    @include md {
      flex: 0 0 auto;
      width: 9%;
    }
    @include lg {
      width: 14%;
    }
  }
  .col-md-2 {
    @include md {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
  }
  .col-md-5 {
    @include md {
      flex: 0 0 auto;
      width: 41.6666666667%;
    }
  }
  .d-block {
    display: block !important;
  }
  .w-100 {
    width: 100% !important;
  }
  .arrows {
    @include md {
      display: none;
    }
  }
  .image-preview-container {
    display: none;
    @include md {
      display: inline-block;
    }
  }
  .product-details {
    .name {
      margin-top: 5px;
      @include sm {
        margin-top: 0;
      }
    }
    .price {
      color: $primaryColor;
    }
    .size {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      .size-option {
        display: inline-block;
        text-align: center;
        margin-right: 3px;
        margin-bottom: 5px;
        button {
          width: 40px;
        }
      }
    }
    .add-to-cart {
      margin-top: 1.5rem;
      button {
        width: 100%;
        @include lg {
          width: 70%;
        }
      }
    }
  }
}
