.cards-section {
  .card {
    width: 100%;
    border: 1px $darkColor solid;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    h3 {
      margin-top: 0;
    }
    p {
      margin: 0;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      img {
        width: 100px;
        float: left;
        margin-right: 1rem;
      }
      .item-content {
        min-height: 50px;
        margin-left: 100px;
        .item-name,
        .item-price {
          font-weight: bold;
        }
        @include xs {
          .item-name {
            float: left;
            width: 60%;
          }
          .item-price {
            float: right;
          }
        }
      }
    }
    &.total-amount {
      text-align: right;
      .total {
        margin-bottom: 0;
      }
    }
  }
  button {
    width: 100%;
  }
}
