.gallery-modal {
  display: block;
  margin: auto;
  .modal-image {
    .modal-image-inner {
      img {
        width: 100%;
        @include md {
          height: 80vw;
          width: auto;
        }
        @include md {
          height: 65vw;
          width: auto;
        }
        @include xl {
          height: 80vh;
          width: auto;
        }
        display: block;
      }
    }
  }
  .nav-buttons {
    text-align: center;
    color: white;
    user-select: none;
    padding-top: 5px;
    a {
      color: inherit;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        color: $secondaryColor;
      }
    }
  }
  .MuiDialog-paperWidthSm {
    max-width: none;
    max-height: none;
  }
  .MuiPaper-rounded {
    border-radius: 0;
  }
  .MuiPaper-root {
    background-color: transparent;
  }
  .MuiPaper-elevation24 {
    box-shadow: none;
  }
  .show {
    @include fade-in;
  }
}
