.gallery-modal {
  display: block;
  margin: auto;
  .modal-image {
    .modal-image-inner {
      opacity: 0;
      img {
        height: 90vh;
        width: auto;
        display: block;
      }
    }
  }
  .nav-buttons {
    text-align: center;
    color: white;
    user-select: none;
    span {
      cursor: pointer;
    }
  }
  .MuiDialog-paperWidthSm {
    max-width: none;
    max-height: none;
  }
  .MuiPaper-rounded {
    border-radius: 0;
  }
  .MuiPaper-root {
    background-color: transparent;
  }
  .MuiPaper-elevation24 {
    box-shadow: none;
  }
  .show {
    @include fade-in;
  }
}
