.illustration {
  text-align: center;
  .illustration-lg {
    display: none;
    @include md {
      display: block;
    }
    svg {
      @include md {
        width: $screen-md-min;
      }
      @include lg {
        width: $screen-lg-min;
      }
      @include xl {
        width: $screen-xl-min;
      }
    }
  }
  .illustration-sm {
    display: block;
    @include md {
      display: none;
    }
    svg {
      @include xxs {
        width: 200px;
      }
      @include xs {
        width: 300px;
      }
      @include sm {
        width: 400px;
      }
    }
  }
}
