@use '../general/globals' as *;

header {
  position: fixed;
  left: 0;
  right: var(--scroll-lock-offset, 0px);
  font-family: $font;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1000;
  background-color: white;
  .brand-logo {
    width: 8.8rem;
    @include lg {
      width: 11.2rem;
    }
    .logo-cls-18 {
      fill: $primaryColor;
      transition: 0.1s;
    }
    &:hover {
      .logo-cls-18 {
        fill: $secondaryColor;
        transition: 0.1s;
      }
    }
  }
  .badge {
    background: #ff0000;
    color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 12px;
    padding: 0 4.5px;
    vertical-align: top;
    margin-left: -10px;
  }
  a,
  li,
  .icon-mobile {
    cursor: pointer;
  }
  @include nav-options;
  .icon {
    width: 1.4rem;
    transition: 0.1s;
    vertical-align: middle;
  }
  .nav-desktop {
    display: none;
    @include lg {
      display: flex;
      align-items: center;
    }
    li {
      font-size: $largeDesktop;
      margin-left: 1.5rem;
      transition: 0.1s;
      &:hover {
        color: $primaryColor;
        fill: $primaryColor;
        transition: 0.1s;
      }
    }
  }
  .icon-mobile {
    cursor: pointer;
    a.active {
      .icon.fill {
        fill: $primaryColor;
      }
    }
    @include lg {
      display: none;
    }
  }
}
