header {
  width: 100%;
  font-family: $font;
  font-weight: bold;
  text-transform: uppercase;
  .brand-logo {
    width: 10rem;
    @include md {
      width: 11rem;
    }
    .logo-cls-18 {
      fill: $primaryColor;
      transition: 0.2s;
    }
    &:hover {
      .logo-cls-18 {
        fill: $secondaryColor;
        transition: 0.2s;
      }
    }
  }
  @include nav-options;
  .icon {
    width: 1.3rem;
    @include md {
      width: 1.2rem;
    }
    transition: 0.2s;
    vertical-align: middle;
  }
  .badge {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.35rem;
    position: relative;
    margin-left: -12px;
    top: -13px;
    @include lg {
      margin-left: -10px;
    }
  }
  .nav-desktop {
    display: none;
    @include lg {
      display: block;
    }
    li {
      font-size: $largeDesktop;
      margin-left: 1.5rem;
      display: inline;
      transition: 0.2s;
      &:hover {
        color: $primaryColor;
        fill: $primaryColor;
        transition: 0.2s;
      }
    }
  }
  .icon-mobile {
    a.active {
      .icon.fill {
        fill: $primaryColor;
      }
    }
    @include lg {
      display: none;
    }
  }
}
