.products-table {
  .table {
    min-width: 650;
    td {
      min-width: 160px;
    }
    button {
      margin-left: 5px;
    }
  }
  .MuiIconButton-root {
    border: none !important;
    padding: none !important;
    color: black;
  }
}
