RewriteEngine On
RewriteCond %{HTTP_HOST} ^sweevil.pt [NC]
RewriteRule ^(.*)$ http://www.sweevil.pt/$1 [L,R=301]
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
