.navbar {
  font-family: brushstrikeregular;
  width: 100%;
  top: 0;
  position: fixed;

  div {
    width: 100vw;
    padding: 0 3vw 0 3vw;
    height: 130px;
    display: table-cell;
    vertical-align: middle;

    @include md {
      height: 180px;
    }

    img {
      width: 180px;
      position: absolute;
      top: 0;
      margin-top: 20px !important;
      margin: 0;
      cursor: pointer;
      transition: 0.2s;

      @include md {
        margin-top: 30px !important;
        width: 200px;
      }

      @include lg {
        width: 250px;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      float: right;

      li {
        font-size: 28px;
        cursor: pointer;
        transition: 0.2s;

        @include lg {
          font-size: 30px;
        }

        a {
          color: inherit;
          text-decoration: none;
        }
      }

      &.nav-desktop {
        text-align: right;
        display: none;

        @include md {
          display: block;
        }

        li {
          display: inline;
          margin: 0 10px;

          &:hover {
            color: $primaryColor;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &.nav-mobile {
        transition: 0.2s;
        &.full-screen {
          background-color: white;
          margin: 0;
          padding: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          text-align: center;
        }

        li {
          &.close {
            text-align: right;
            margin-right: 10vw;
            margin-top: 17vw;
            line-height: 0;

            @include sm-height {
              margin-bottom: 7vh;
            }
          }

          &:not(:first-child) {
            display: none;
          }

          &.show {
            display: block;
            font-size: 32px;
          }

          &.hide {
            display: none;
          }
        }

        @include md {
          display: none;
        }
      }
    }
  }
}
